@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3f4f7;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
span,
em,
small,
del,
hr,
br,
i,
b {
  margin: 0;
  padding: 0;
  line-height: 160% !important;
  font-family: 'Noto Sans KR', sans-serif;
}

ul,
li,
ol {
  line-height: 160% !important;
  font-family: 'Noto Sans KR', sans-serif;
}
